body{
  font-family: Ubuntu;
}

.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
}

ul.page-5 > li > a{
  color: black;
  font-weight: 300;
}

.page-contact > p{
  font-weight: 300;
}

.page-benefit > .media{
  margin-top: 30px;
}

.card-header {
  background-color: #EEEEEE !important; 
  border-bottom: none;
  margin-top: 10px;
  border-radius: 5px 5px 0 0;
}
.card-header.collapsed{
  background-color: transparent !important; 
  border: 1px solid black; 
  border-radius: 5px;
}

.card-body {
  background-color: #EEEEEE !important; 
  border-radius: 0 0 5px 5px;
}

.card-title,
.card-title:hover{
  color: black;
  font-weight: 400;
}

.font-weight-bold{
  font-weight: 700;
}

.modal-content{
  padding: 30px;
}

.modal-dialog{
  max-width: 600px;
}

.fixed-top.scrolled {
  background-color: #FFCFCC !important;
  transition: background-color 200ms linear;
}

.fixed-top{
  background-color: white !important;
}

@media screen and (max-width: 767px) {
  a.navbar-brand{
    display: none;
  }

  ul.navbar-nav>li.nav-item,
  .navbar-text{
    margin-left: 20px;
  }

  .page-center>h1,
  .page-center h2{
    text-align: center;
  }

  .page-contact-us{
    text-align: center;
  }

  .page-question{
    margin-top: 50px;
  }
}

@media screen and (min-width: 768px) {
  .modal-responsive{
    width: 40% !important;
  }
}